
<mat-sidenav-container class="app-sidenav-container"
                        [class.dark-theme]="isDarkTheme" [dir]="dir"> <!--Applies default theme and direction-->
    <mat-sidenav #sidenav class="app-sidenav mat-elevation-z10"
                    [opened]="!isScreenSmall"
                    [mode]="isScreenSmall ? 'over' : 'side'"> <!--Opens sidebar when screen is large and determines how it interacts with main content (over - mobile, side = desktop)-->
        <mat-toolbar color="primary">
            Contacts
        </mat-toolbar>

        <mat-nav-list>
            <mat-list-item *ngFor="let user of users | async"> <!--Loads in list of users using rxJS-->
                <!--Creates clickable nav-link inside the list composed of icon and user name-->
                <a matLine [routerLink]="['/contactmanager', user.id]"> 
                    <mat-icon svgIcon="{{ user.avatar }}"></mat-icon> {{ user.name }}</a> 
            </mat-list-item>
        </mat-nav-list>

    </mat-sidenav>

    <div class="app-sidenav-content">
        <!--Ties the buttons to toggle methods (theme, sidenav hide/show, direction)-->
        <app-toolbar (toggleTheme)="toggleTheme()" 
                     (toggleSidenav)="sidenav.toggle()" 
                     (toggleDir)="toggleDir()">
        </app-toolbar>
        <div class="wrapper">
            <router-outlet></router-outlet>
        </div>
    </div>

</mat-sidenav-container>