.board {
    display: flex;
    flex-direction: row;
    border: solid 5px purple;
    border-radius: 5px;
    background: linear-gradient(lavender, purple);
}

.columns {
    display: flex;
    flex-direction: row;
}
