@if (isLoading()) {
<mat-spinner></mat-spinner>
}
<!--Shows post title, content and image if there are posts and state is not loading-->
@if (posts().length > 0 && !isLoading()) {
<mat-accordion multi="true">
    <!--For block requires track expression to enable DOM recycling without tracking functions-->
    @for (post of posts(); track post.id) {
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            {{ post.title }}
        </mat-expansion-panel-header>
        <div class="post-image">
            <img [src]="post.imagePath" [alt]="post.title">
        </div>
        <p>{{ post.content }}</p>

        <!--Shows delete and edit buttons only if they created the post-->
        @if (userIsAuthenticated() && userId() === post.creator) {
        <mat-action-row>
            <a mat-button [routerLink]="['/edit', post.id]">Edit</a>
            <button mat-button (click)="onDelete(post.id)">Delete</button>
        </mat-action-row>
        }
    </mat-expansion-panel>
    }
</mat-accordion>
<!--Pagination UI data and events-->
<mat-paginator [length]="totalPosts()" [pageSize]="postsPerPage()" [pageSizeOptions]="pageSizeOptions" [pageIndex]="currentPage() -1" (page)="onChangedPage($event)"></mat-paginator>
}
<!--Displays message for having no posts-->
@if (posts().length === 0 && !isLoading()) {
    <p class="info-text mat-body-1">No Posts added</p>
}