<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css" />
    <title>Minesweeper</title>
</head>

<body ng-app="minesweeperApp">
    <div ng-controller="minesweeperController">
        <table class="minefield">
            <tr ng-repeat="row in minefield.rows"> <!--Loops through all rows in minefield-->
                <td ng-repeat="spot in row.spots" ng-click="uncoverSpot(spot)"> <!--Loops through all spots in the rows and ties to the uncoverSpot function-->
                    <!--Aligns conditions with proper images for click events-->
                    <img ng-if="spot.isCovered" src="./images/covered.png">
                    <img ng-if="!spot.isCovered && spot.content == 'empty'" src="./images/empty.png">
                    <img ng-if="!spot.isCovered && spot.content == 'mine'" src="./images/mine.png">
                    <img ng-if="!spot.isCovered && spot.content == 1" src="./images/number-1.png">
                    <img ng-if="!spot.isCovered && spot.content == 2" src="./images/number-2.png">
                    <img ng-if="!spot.isCovered && spot.content == 3" src="./images/number-3.png">
                    <img ng-if="!spot.isCovered && spot.content == 4" src="./images/number-4.png">
                    <img ng-if="!spot.isCovered && spot.content == 5" src="./images/number-5.png">
                    <img ng-if="!spot.isCovered && spot.content == 6" src="./images/number-6.png">
                    <img ng-if="!spot.isCovered && spot.content == 7" src="./images/number-7.png">
                    <img ng-if="!spot.isCovered && spot.content == 8" src="./images/number-8.png">
                </td>
            </tr>
        </table>
        <!--Displays a message if the player has won or lost-->
        <h3 ng-if="isWinMessageVisible">You won!</h3>
        <h3 ng-if="hasLostMessageVisible">You lost!</h3>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="js/script.js"></script>
</body>
</html>