<mat-toolbar>
    <span><a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">MyMessages</a></span>
    <span class="spacer"></span>
    <ul>
        <li *ngIf="userIsAuthenticated">
            <a mat-button routerLink="/create" routerLinkActive="active-link">New Post</a>
        </li>
        <li *ngIf="!userIsAuthenticated">
            <a mat-button routerLink="/login" routerLinkActive="active-link">Login</a>
        </li>
        <li *ngIf="!userIsAuthenticated">
            <a mat-button routerLink="/signup" routerLinkActive="active-link">Signup</a>
        </li>
        <li *ngIf="userIsAuthenticated">
            <button mat-button (click)="onLogout()" >Logout</button>
        </li>
    </ul>
</mat-toolbar>