.tile {
    width: 75px;
    height: 75px;
    border: solid 10px #5B026B;
    border-radius: 100%;
    background-color: white;
}

.chip {
    width: 75px;
    height: 75px;
    border-radius: 100%;
    background-color: gray;
}

.green {
    background-color: #36bd1d;
}

.cyan {
    background-color: #00FFFF;
}