<mat-toolbar color="primary">

    <button mat-button class="sidenav-toggle" (click)="toggleSidenav.emit()"> <!--Emits event when clicked-->
        <mat-icon>menu</mat-icon>
    </button>

    <span>Contact Manager</span>

    <span class="example-spacer"></span>

    <button matButton [matMenuTriggerFor]="menu"> <!--Opens a NG Material dropdown menu-->
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu"> <!--These buttons populate the drowdown options-->
        <button mat-menu-item (click)="openAddContactDialog()">New Contact</button> <!--Emits event when clicked-->
        <button mat-menu-item (click)="toggleTheme.emit()">Toggle theme</button> <!--Emits event when clicked-->
        <button mat-menu-item (click)="toggleDir.emit()">Toggle direction</button> <!--Emits event when clicked-->
    </mat-menu>

</mat-toolbar>
